<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="LibraryManagementConnectionString" connectionString="data source=LAPTOP-AC8CA939;initial catalog=LibraryManagement;Integrated Security=True;" />
    <add name="LibraryManagementConnectionString1" connectionString="Data Source=LAPTOP-AC8CA939;Initial Catalog=LibraryManagement;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>